# GIT Ignore File
.gitignore~
infodisplay.cpp~
Makefile~
Debug/DigitalSignage
Debug/box.d
Debug/box.o
Debug/fps_counter.d
Debug/fps_counter.o
Debug/inifile.d
Debug/inifile.o
Debug/main.d
Debug/main.o
Debug/signage.d
Debug/signage.o
Debug/textures.d
Debug/textures.o
Release/DigitalSignage
Release/box.d
Release/box.o
Release/fps_counter.d
Release/fps_counter.o
Release/inifile.d
Release/inifile.o
Release/main.d
Release/main.o
Release/signage.d
Release/signage.o
Release/textures.d
Release/textures.o
DigitalSignage-DPKG/opt
res/defaults/vstr
DPKG-Out/*
DigitalSignage-DPKG/DEBIAN/control
