ext-libs/ftgl/.auto
ext-libs/ftgl/.deps
ext-libs/ftgl/.libs
ext-libs/ftgl/Makefile.in
ext-libs/ftgl/Makefile
ext-libs/ftgl/aclocal.m4
ext-libs/ftgl/autom4te.cache
ext-libs/ftgl/config.h
ext-libs/ftgl/config.h.in
ext-libs/ftgl/config.log
ext-libs/ftgl/config.status
ext-libs/ftgl/configure
ext-libs/ftgl/ftgl.pc
ext-libs/ftgl/libtool
ext-libs/ftgl/stamp-h1
ext-libs/ftgl/*.o
ext-libs/ftgl/*.lo
ext-libs/ftgl/*.la
ext-libs/ftgl/demo/c-demo
ext-libs/ftgl/demo/simple
ext-libs/ftgl/demo/FTGLDemo
ext-libs/ftgl/demo/FTGLMFontDemo
ext-libs/ftgl/test/CTest
ext-libs/ftgl/test/CXXTest
ext-libs/ftgl/docs/stamp-*
ext-libs/ftgl/docs/doxygen.cfg
ext-libs/ftgl/docs/images/*.eps
ext-libs/ftgl/docs/html
ext-libs/ftgl/docs/latex
