body {
background-color:#fff;
}

#travel-mast {
font-family:arial;
font-size:14px;
text-decoration:none;
color:#444;
line-height:1;
margin:0;
padding:0;
}

#travel-mast a,#travel-mast a:link,#travel-mast a:visited,#travel-mast a:active,#travel-mast a:hover {
text-decoration:none;
outline:0;
}

img {
border:0;
margin:0;
padding:0;
}

li,li img {
margin:0;
padding:0;
}

#blq-container.blq-gvl-3 {
background:transparent;
}

#content-main {
width:624px;
float:left;
margin-bottom:14px;
margin-top:1em;
}

.clear-div {
clear:both;
margin:0;
padding:5px 0;
}

#headWrap {
height:63px;
}

#content-top h1 a {
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travel-sprite-0.gif) no-repeat scroll 7px 0 #fff;
display:block;
float:left;
height:35px;
margin-top:14px;
margin-bottom:14px;
margin-left:0;
width:317px;
}

#content-top h2 {
float:left;
color:#626262;
display:block;
position:relative;
font-size:24px;
font-weight:400;
height:25px;
letter-spacing:-1px;
left:20px;
top:28px;
padding-bottom:5px;
}

#content-top h2.region {
font-size:32px;
height:32px;
top:21px;
}

.travel-nav ul li {
display:block;
float:left;
}

.travel-nav ul li a,.travel-nav ul li span {
display:inline-block;
font-weight:700;
height:20px;
line-height:20px;
padding-left:12px;
padding-right:12px;
margin-top:2px;
margin-bottom:2px;
font-size:12px;
}

li#displayOptsLink {
display:none;
background:url(http://static.live.bbc.co.uk/frameworks/barlesque/2.8.7/desktop/3.5/img/more_arrow.png) no-repeat scroll 96px 11px transparent;
padding-right:9px;
}

.travel-nav.primary {
background:#e18539;
}

.travel-nav.secondary {
background:#e7e7e7;
font-size:12px;
}

.travel-nav.primary ul li a,.travel-nav.primary ul li span {
border-left:1px solid #eee;
}

.travel-nav.primary ul li.selected a,.travel-nav.primary ul li.selected span {
height:19px;
border-left:none;
}

.travel-nav.primary ul li.selected {
background:#f7f7f7;
border-bottom:1px solid #fedbb9;
margin-right:-1px;
}

.travel-nav.secondary ul li {
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travel-sprite-0.gif) no-repeat scroll right -8px #f7f7f7;
padding-right:10px;
}

.travel-nav.secondary ul li.selected {
background-position:right -49px;
}

.travel-nav ul li.travel-nav-right {
float:right;
}

#travel-mast .travel-nav.primary ul li.selected a,#travel-mast .travel-nav.secondary ul li.selected a {
color:#900;
margin-right:1px;
}

#travel-tabs {
width:624px;
border-bottom:1px solid #ddd;
}

.travel-tabs-foot {
clear:left;
font-size:0;
}

#map-key-close {
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travel-sprite-0.gif) no-repeat scroll -409px -32px transparent;
cursor:hand;
float:right;
height:20px;
margin-right:11px;
margin-top:11px;
width:20px;
}

.tab-public,.tab-roads,.tab {
float:left;
}

.tab a {
display:inline;
float:left;
background-repeat:no-repeat;
background-image:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travel-sprite-0.gif);
background-color:#fff;
height:44px;
}

div#road-head,div#pub-head {
background-repeat:no-repeat;
background-image:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travel-sprite-0.gif);
height:32px;
margin-top:1px;
}

#road-head span,#pub-head span {
color:#626262;
display:block;
font-size:24px;
font-weight:700;
padding-top:6px;
letter-spacing:-1px;
}

div#road-head div {
text-align:center;
width:110px;
}

div#pub-head div {
text-align:center;
width:220px;
}

.tab a span.desc {
display:block;
font-size:13px;
padding-right:5px;
padding-top:8px;
color:#900;
}

div#road-head {
background-position:0 -98px;
width:360px;
}

.tab#road-tab2 a {
background-position:0 -130px;
width:114px;
}

.tab#road-tab3 a {
background-position:-114px -130px;
width:122px;
}

.tab#road-tab4 a {
background-position:-236px -130px;
width:124px;
}

.tab#road-tab2 a span.desc {
padding-left:47px;
}

.tab#road-tab3 a span.desc {
padding-left:40px;
}

.tab#road-tab4 a span.desc {
padding-left:40px;
padding-top:14px;
}

div#pub-head {
background-position:-361px -98px;
width:264px;
}

.tab#pub-tab2 a {
background-position:-368px -130px;
width:123px;
margin-left:7px;
}

.tab#pub-tab3 a {
background-position:-491px -130px;
width:134px;
}

.tab#pub-tab2 a span.desc {
padding-left:46px;
}

.tab#pub-tab3 a span.desc {
padding-left:41px;
}

.tab a.sel,.tab:hover a,.tab a:active {
background-color:#e87f2f;
}

.counter {
display:none;
float:left;
margin-top:8px;
z-index:100002;
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travel-sprite-0.gif) no-repeat scroll -409px -55px #333;
height:28px;
width:30px;
text-align:center;
overflow:hidden;
}

#counter1 {
margin-left:10px;
}

#counter5 {
margin-left:4px;
}

span.counter_val {
color:#fff;
display:block;
float:left;
font-size:16px;
font-weight:700;
margin-top:6px;
text-align:center;
width:30px;
}

#counter2 span.counter_val {
font-size:15px;
}

#travel-wrap {
width:624px;
}

#travel-itemlist {
border-bottom:1px solid #e7e7e7;
overflow:hidden;
padding-top:10px;
border-right:1px solid #e7e7e7;
}

#map-load {
display:none;
position:absolute;
z-index:9980;
height:415px;
width:624px;
margin-left:1px;
margin-top:-415px;
background-image:url(http://news.bbcimg.co.uk/mtk/1.3/img/ajax-loader.gif);
background-repeat:no-repeat;
background-color:#ccc;
background-position:285px 180px;
}

#travel-map-wrap {
display:none;
overflow:hidden;
}

#travel-itemlist-wrap {
background:#fff;
}

.also-show-mapkey a {
width:130px;
height:29px;
margin-left:494px;
margin-top:10px;
position:absolute;
visibility:visible;
z-index:9885;
display:none;
background-repeat:no-repeat;
background-image:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travel-sprite-0.gif);
background-position:-505px -285px;
}

#travel-notifications,.notification {
display:none;
z-index:100;
}

.notification-wrap {
background-image:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travelwrap/notification_sprite.png);
background-repeat:no-repeat;
background-position:-213px -222px;
background-color:transparent;
height:52px;
}

.notification {
height:52px;
position:absolute;
width:624px;
background:#b26022 url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travelwrap/notification-bg.gif) repeat-x top left;
color:#fff;
}

.notification h2,.notification h3 {
display:block;
float:left;
font-size:24px;
letter-spacing:-1px;
margin-left:57px;
margin-top:8px;
margin-right:18px;
}

.notification p {
padding-top:7px;
letter-spacing:-.2px;
margin-right:10px;
font-size:13px;
}

#travel-mast .notification p a {
color:#f7dd5a;
}

#notify-zoomin .notification-wrap {
background-position:13px -198px;
}

#notify-pan .notification-wrap {
background-position:13px -98px;
}

#notify-update .notification-wrap {
background-position:13px -301px;
}

#notify-error .notification-wrap {
background-position:13px -401px;
}

#notify-region .notification-wrap {
background-position:10px -497px;
}

#notify-error p span {
visibility:hidden;
background:#eee;
border:1px solid #aaa;
color:#000;
display:block;
font-weight:400;
margin-left:150px;
padding:5px;
}

#notify-zoomin,#notify-pan,#notify-update {
cursor:pointer;
}

#notify-update.notification {
height:50px;
}

#loading-wrap {
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travelwrap/loading.gif) no-repeat 567px 23px #fff;
display:none;
position:absolute;
font-weight:700;
text-align:right;
width:624px;
height:52px;
z-index:150;
border-bottom:1px solid #ccc;
}

#loading-wrap.updated {
background-image:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travelwrap/updated.gif);
}

#loading-wrap p {
color:#626262;
font-size:18px;
letter-spacing:-1px;
margin-right:72px;
margin-top:15px;
}

#travel-auto-notification {
display:block;
position:absolute;
}

#travel-auto-notification h2 {
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travelwrap/notification_sprite.png) no-repeat scroll 13px -6px transparent;
height:1.5em;
margin-left:0;
padding-left:57px;
}

#travel-auto-notification p.notification {
height:auto;
width:auto;
background:0;
display:block;
position:relative;
padding-right:50px;
}

#travel-options-splitter {
border-top:1px solid #aaa;
margin:0;
padding:0;
}

#incident-numbers {
display:none;
float:right;
text-align:right;
margin-top:5px;
width:228px;
height:26px;
}

#incident-numbers a {
display:block;
float:right;
margin-left:4px;
margin-top:2px;
width:20px;
height:20px;
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travel-sprite-0.gif) no-repeat -19px -1010px;
}

#incident-numbers a:hover,#incident-numbers a:active {
background-position:4px -1010px;
}

#travel-map-head {
display:none;
height:22px;
background:#fff;
border-bottom:0;
}

ul li.severity-1 {
background:url(severe-colours.gif) no-repeat 0 -1604px;
}

ul li.severity-2 {
background:url(severe-colours.gif) no-repeat 0 -1204px;
}

ul li.severity-3 {
background:url(severe-colours.gif) no-repeat 0 -804px;
}

ul li.severity-4 {
background:url(severe-colours.gif) no-repeat 0 -404px;
}

ul li.severity-5 {
background:url(severe-colours.gif) no-repeat 0 0;
}

ul li.severity-6 {
background:url(severe-colours.gif) no-repeat 0 -2004px;
}

#travel-itemlist .itemgroup ul li {
z-index:100;
padding-top:0;
padding-bottom:0;
margin-top:0px;
width:624px;
border-top:0;
border-bottom:1px solid #eee;
overflow:hidden;
background-color:#fff;
}

#travel-itemlist .itemgroup ul li.highlight,.highlight .item-body {
background-color:#ffc;
margin-top:0px;
}

.itemgroup,.itemgroup ul,.itemgroup ul li {
vertical-align:top;
margin-top:-1px;
margin-left:0px;
margin-bottom:0px;
zoom:1;
}

#travel-itemlist .itemgroup {
list-style-type:none;
}

.item-highlight {
background:#ff0;
margin-left:14px;
position:absolute;
width:610px;
z-index:100;
}

.item-rhs {
float:right;
width:110px;
text-align:center;
font-size:12px;
}

.item-body {
width:495px;
margin-left:14px;
}

div.itemgroup div.item-head {
height:20px;
padding-left:39px;
margin-left:0;
width:480px;
background-color:#eee;
background-repeat:no-repeat;
background-image:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travel-sprite-0.gif);
background-position:-670px -518px;
}

div.itemgroup div.item-head.severity-5 {
background-position:-642px -518px;
}

div.itemgroup div.item-head.severity-4 {
background-position:-642px -573px;
}

div.itemgroup div.item-head.severity-3 {
background-position:-642px -624px;
}

div.itemgroup div.item-head.severity-2 {
background-position:-642px -675px;
}

div.itemgroup div.item-head.severity-1 {
background-position:-642px -726px;
}

div.itemgroup div.item-head h3 {
font-weight:700;
font-size:15px;
color:#626262;
}

div.itemgroup div.item-head h3 span {
color:#666;
letter-spacing:1px;
padding-left:.5em;
}

div.itemgroup div.item-head a {
float:right;
width:22px;
height:20px;
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travel-sprite-0.gif) no-repeat -19px -1009px #fff;
}

div.itemgroup div.item-head a:hover,div.itemgroup div.item-head a:active {
background-position:4px -1009px;
}

.item-summary {
min-height:2.5em;
}

.item-summary p {
margin-left:51px;
padding-top:6px;
font-size:14px;
font-weight:700;
color:#900;
}

.item-summary div {
float:left;
margin-top:8px;
width:45px;
height:30px;
text-align:center;
}

.item-summary div span {
margin-top:6px;
display:none;
font-weight:700;
letter-spacing:-.25px;
}

a.item-show,a.item-show:visited {
display:block;
margin-left:9px;
margin-top:.25em;
height:28px;
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travel-sprite-0.gif) no-repeat scroll -275px -521px transparent;
}

a.item-show span {
display:block;
margin-right:7px;
line-height:2.3em;
text-align:center;
color:#444;
}

.list-jamcams a.item-show span {
font-size:13px;
padding-top:7px;
}

.item-details {
margin-top:.3em;
margin-bottom:.3em;
font-size:12px;
overflow:hidden;
}

.item-details p span.morePar a {
text-decoration:none;
font-weight:700;
font-size:12px;
color:#50555c;
}

.item-lastupdate {
height:2em;
font-weight:700;
font-size:12px;
color:#626262;
}

.item-lastupdate span {
margin-right:7px;
background:#494;
color:#fff;
font-weight:700;
text-transform:uppercase;
padding:0 1em;
}

.item-lastupdate span.new {
background:#c00;
}

.item-lastupdate span.updated {
background:#777;
}

.item-clear {
clear:left;
}

.jamcam .item-summary div.camera {
float:left;
width:45px;
height:35px;
text-align:center;
margin-top:7px;
}

.jamcam .item-summary {
height:46px;
margin-bottom:3px;
overflow:hidden;
margin-left:0;
}

.jamcam .item-summary p {
margin-left:60px;
margin-top:3px;
font-weight:400;
color:#333;
}

.jamcam .item-summary p span {
margin-right:1em;
font-weight:700;
}

.jamcam .highways {
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travelwrap/jamcam_blue.gif) no-repeat top left;
}

.jamcam .disabled {
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travelwrap/jamcam_grey.gif) no-repeat top left;
}

.jamcam .alt {
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travelwrap/jamcam_red.gif) no-repeat top left;
}

.cam {
background-color:#ebebeb;
border-bottom:1px solid #444;
}

#camDescription h2 {
color:#606064;
font-size:28px;
margin-left:7px;
letter-spacing:-1px;
font-weight:400;
}

.camera-image {
margin-bottom:10px;
margin-top:10px;
margin-left:10px;
}

.image-wrap {
text-align:center;
}

#camCopyright,#camDisclaimer {
font-size:10px;
margin-left:10px;
margin-bottom:10px;
}

.item-type {
height:38px;
display:none;
}

.item-incident {
margin-top:24px;
padding-top:51px;
background-image:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travel-sprite-0.gif);
background-color:transparent;
background-repeat:no-repeat;
background-position:-390px -551px;
}

div.road-motorway {
background:#0238a0 url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travel-sprite-0.gif) no-repeat scroll -279px -578px;
}

div.road-a {
background:#360;
}

div.road-a span {
display:block;
font-size:14px;
color:#fe4;
}

div.road-b {
background:#666;
}

div.road-b span {
display:block;
color:#fff;
}

.rail,.train {
background:#fff url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travel-sprite-0.gif) no-repeat scroll -279px -638px;
}

.light-rail,.tram {
background:#fff url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travel-sprite-0.gif) no-repeat scroll -279px -668px;
}

.air {
background:#fff url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travel-sprite-0.gif) no-repeat scroll -324px -668px;
}

.underground {
background:#fff url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travel-sprite-0.gif) no-repeat scroll -324px -638px;
}

.water,.ferry {
background:#fff url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travel-sprite-0.gif) no-repeat scroll -279px -698px;
}

.list-incidents .item-incident {
background-position:-390px -551px;
}

.list-incidents .item-incident.incident-cleared,.item-incident.incident-cleared {
background-position:-490px -551px;
}

.list-roadworks .item-incident,.item-incident.roadworks {
background-position:-390px -625px;
}

.list-roadworks .item-incident.roadworks-cleared,.item-incident.roadworks-cleared {
background-position:-490px -625px;
}

.list-disruptions .item-incident {
background-position:-390px -699px;
}

.list-works .item-incident {
background-position:-390px -773px;
}

.list-incidents .item-incident.updating,.list-roadworks .item-incident.updating,.list-disruptions .item-incident.updating,.list-works .item-incident.updating {
background:transparent url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travelwrap/updating.gif) center -5px no-repeat;
}

.travel-filter {
padding-top:10px;
background:#fff;
display:none;
height:32px;
}

.travel-filter .filter-tabs {
font-size:18px;
height:31px;
border-bottom:#ccc 1px solid;
padding-left:20px;
padding-right:10px;
letter-spacing:-1px;
}

.travel-filter .filter-tabs div a {
display:block;
float:left;
height:31px;
}

.travel-filter .filter-tabs div.severity a {
width:130px;
margin-right:5px;
}

.travel-filter .filter-tabs div.time a {
width:131px;
}

.filter-tabs p {
font-weight:700;
margin:0;
padding:0;
}

.filter-tabs .order-text {
float:left;
margin-right:17px;
margin-top:5px;
font-weight:700;
}

.filter-tabs .severity a,.filter-tabs .time a {
background-image:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travel-sprite-0.gif);
background-repeat:no-repeat;
background-position:0 -516px;
}

.filter-tabs .severity a.sel {
background-position:0 -547px;
height:31px;
margin-top:1px;
}

.filter-tabs .time a {
background-position:0 -516px;
}

.filter-tabs .time a.sel {
background-position:0 -547px;
margin-top:1px;
}

.filter-tabs .severity a span,.filter-tabs .time a span {
display:block;
font-weight:700;
text-align:center;
margin-top:8px;
color:#626262;
}

.filter-tabs .severity a.sel span,.filter-tabs .time a.sel span,.filter-tabs .severity a.sel span:hover,.filter-tabs .time a.sel span:hover {
margin-top:7px;
color:#900;
}

.travel-map-foot {
height:19px;
margin-top:-21px;
position:absolute;
z-index:9001;
width:600px;
}

#map-key {
display:none;
position:absolute;
z-index:9890;
height:415px;
width:175px;
margin-top:-417px;
margin-right:0;
margin-left:448px;
background:#e5e5e5 url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travelwrap/icon_key_panel.gif) no-repeat top left;
border-left:1px solid #888;
}

#map-unlock {
position:absolute;
height:80px;
width:368px;
margin-left:123px;
margin-top:-255px;
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travelwrap/loadmap.png) no-repeat scroll left top transparent;
cursor:hand;
text-align:left;
}

#map-unlock:hover {
background-position:0 -80px;
}

#map-unlock:hover h2 {
color:#e0954e;
}

#map-unlock h2 {
color:#626262;
font-size:24px;
letter-spacing:-.5px;
margin-bottom:0;
margin-left:60px;
margin-top:12px;
text-align:left;
}

#map-unlock p {
color:#626262;
font-size:16px;
font-weight:700;
margin-left:60px;
}

#showmap-button,#hidemap-button {
margin-left:8px;
}

#showmap-button a,#hidemap-button a {
display:block;
float:left;
height:22px;
width:157px;
text-align:center;
}

#showmap-button a span,#hidemap-button a span {
color:#fff;
display:block;
margin-top:3px;
}

#showmap-button a {
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travel-sprite-0.gif) no-repeat -183px -298px;
}

#showmap-button a:hover {
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travel-sprite-0.gif) no-repeat -183px -320px;
text-decoration:none;
}

#hidemap-button a {
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travel-sprite-0.gif) no-repeat -340px -297px;
}

#hidemap-button a:hover {
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travel-sprite-0.gif) no-repeat -340px -319px;
text-decoration:none;
}

#travel-footer-splitter {
border-top:2px solid #444;
}

#mapHelp {
clear:right;
}

#mapHelp,#numbersHelp {
font-family:arial;
font-size:12px;
}

.panel-bd #mapHelp h2,.panel-bd #numbersHelp h2,.panel-bd #displayOptions h2 {
display:block;
padding-top:6px;
padding-bottom:.3em;
margin-bottom:.3em;
font-size:2em;
color:#50555c;
letter-spacing:-1px;
}

.panel-bd #mapHelp h3,.panel-bd #numbersHelp h3 {
color:#900;
font-size:1.2em;
margin-bottom:1em;
margin-top:1em;
padding-bottom:.3em;
border-bottom:1px solid #ccc;
}

.panel-bd #mapHelp p,.panel-bd #numbersHelp p {
color:#444;
margin-bottom:1em;
line-height:1.333em;
}

.panel-bd #mapHelp p {
padding-right:.5em;
}

.jamcam-header {
background:#fff;
margin:0;
padding:0;
}

.jamcam-header h2 {
border-right:1px solid #CCC;
color:#606064;
font-size:1.7em;
margin-left:7px;
padding-bottom:5px;
padding-top:5px;
letter-spacing:-1px;
}

#region-wrap {
clear:both;
background:#fff;
}

#region-select {
margin-bottom:10px;
padding:0 0 20px;
}

#notify-region #region-select {
margin-top:20px;
}

ul#region-col-1,ul#region-col-2,ul#region-col-3 {
float:left;
width:206px;
color:#222;
}

#region-select ul li a {
font-size:16px;
font-weight:700;
letter-spacing:-1px;
line-height:1.5em;
}

#region-select ul li ul {
margin-bottom:.5em;
margin-left:10px;
}

#region-select ul li ul li a {
font-size:14px;
font-weight:400;
letter-spacing:normal;
line-height:1em;
}

#region-select h2 {
color:#626262;
font-size:2em;
margin-bottom:.1em;
}

#region-view {
display:none;
font-size:18px;
letter-spacing:-1px;
margin-left:9px;
margin-top:.3em;
position:absolute;
font-weight:700;
}

#emergency-alerts .alerts-wrap {
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travelwrap/travelnews_alert.gif) no-repeat left top #f3f3f4;
margin-bottom:1em;
}

.index #emergency-alerts .alerts-wrap {
margin-top:17px;
margin-bottom:0;
}

#emergency-alerts h1,#emergency-alerts h2,#emergency-alerts h3,#emergency-alerts h4 {
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travelwrap/travelnews_alert.gif) no-repeat scroll 0 -68px transparent;
font-size:18px;
color:#fff;
letter-spacing:-1px;
border-bottom:1px solid #ddd;
}

#emergency-alerts h1 span,#emergency-alerts h2 span,#emergency-alerts h3 span,#emergency-alerts h4 span {
background:#9b2714;
display:inline-block;
margin-left:6px;
padding:6px 6px 6px 0;
}

#emergency-alerts .alerts-pars {
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travelwrap/travelnews_alert.gif) no-repeat scroll 0 -159px transparent;
line-height:1.333em;
}

#emergency-alerts p {
margin-top:6px;
padding-left:6px;
padding-right:6px;
}

#emergency-alerts .alerts-footer {
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travelwrap/travelnews_alert.gif) no-repeat scroll left bottom transparent;
height:12px;
}

#travel-mast a.skip-to-top {
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travel-sprite-0.gif) no-repeat 0 -1052px;
color:#444;
display:inline-block;
margin-left:0;
margin-top:1em;
padding-left:28px;
padding-top:7px;
}

#swf-map {
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travelwrap/index-map-noflash.gif) no-repeat top left;
height:400px;
width:336px;
}

#travel-wrap p.jamcam-disclaimer {
margin-top:1em;
margin-bottom:1em;
font-size:10px;
color:#999;
text-align:center;
line-height:1;
}

#disclaimer {
font-size:10px;
margin-bottom:1em;
margin-top:1em;
text-align:justify;
width:625px;
clear:left;
color:#999;
}

#travel-mast .MSVE_Copyright {
margin-left:163px;
width:301px;
}

.tube-links {
margin-left:9px;
margin-right:9px;
padding-bottom:4px;
margin-bottom:5px;
zoom:1;
}

#travel-mast .tube-links a {
color:#626262;
margin-right:20px;
}

#travel-mast a.line.bak,.line-desc.bak {
background-color:#b27733;
}

#travel-mast a.line.cen,.line-desc.cen {
background-color:#d64735;
}

#travel-mast a.line.cir,.line-desc.cir {
background-color:#f6d95a;
color:#174b9c;
}

#travel-mast a.line.dis,.line-desc.dis {
background-color:#53ae8a;
}

#travel-mast a.line.ham,.line-desc.ham {
background-color:#e2aeb7;
color:#174b9c;
}

#travel-mast a.line.jub,.line-desc.jub {
background-color:#a2a8ad;
}

#travel-mast a.line.met,.line-desc.met {
background-color:#8f4d78;
}

#travel-mast a.line.nor,.line-desc.nor {
background-color:#000;
}

#travel-mast a.line.pic,.line-desc.pic {
background-color:#2566ab;
}

#travel-mast a.line.vic,.line-desc.vic {
background-color:#4caee1;
}

#travel-mast a.line.wat,.line-desc.wat {
background-color:#94ccd6;
color:#174b9c;
}

#travel-mast a.line.dlr,.line-desc.dlr {
background-color:#5bc2c0;
}

#travel-mast a.line.ove,.line-desc.ove {
background-color:#e98631;
}

.travel-tube-widget {
background-color:#eee;
padding-bottom:1px;
margin-top:10px;
font-size:13px;
}

.travel-tube-widget h2 {
padding-right:60px;
}

.tubelines-wrap {
padding-bottom:7px;
}

.tubelines-wrap ul li {
display:block;
clear:both;
}

#travel-mast .tubelines-wrap ul li a.line {
display:block;
float:left;
margin-top:0;
margin-bottom:0;
width:130px;
text-decoration:none;
border-bottom:1px solid #fff;
padding:.5em 9px;
}

.tubelines-wrap ul li span,.tubelines-wrap ul li a.tube-incident,.tubelines-wrap ul li a.tube-incident-details {
display:block;
float:left;
padding-left:9px;
padding-bottom:.5em;
padding-top:.5em;
width:161px;
border-bottom:1px solid #eee;
background:#fff;
}

.tubelines-wrap ul li a.tube-incident {
background-color:#fff;
background-image:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travel-sprite-0.gif);
background-position:-638px -341px;
background-repeat:no-repeat;
}

.tubelines-wrap ul li a.tube-incident:hover,.tubelines-wrap ul li a.tube-incident-details:hover {
background-color:#fff;
background-position:-638px -365px;
}

.tubelines-wrap ul li a.tube-incident.showing {
background-position:-638px -293px;
}

.tubelines-wrap ul li a.tube-incident.showing:hover {
background-position:-638px -317px;
}

.tubelines-wrap ul li a.tube-incident-details {
width:299px;
line-height:1.33em;
margin-left:10px;
border-bottom:1px solid #eee;
}

.tubelines-wrap ul li a.tube-incident-details strong {
font-weight:400;
margin-right:9px;
}

.tubelines-wrap ul li.line-desc {
display:none;
margin-right:9px;
border-bottom:1px solid #fff;
overflow:hidden;
}

.index .report {
margin-top:5px;
}

.index .travel-index-head h2 {
margin-top:6px;
}

.travel-index-head {
color:#626262;
font-weight:700;
}

.travel-index-head h2 {
font-size:30px;
letter-spacing:-1px;
margin-bottom:.3em;
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travel-sprite-0.gif) no-repeat 313px -841px transparent;
}

.travel-index-head.public-list h2 {
background-position:245px -886px;
}

.travel-index-list {
margin-bottom:1.5em;
}

.travel-index-list ul {
display:block;
float:left;
width:208px;
}

.travel-index-list.public-list ul.middle {
margin-top:2.7em;
}

.travel-index-list ul li {
line-height:1.333em;
color:#626262;
}

.travel-index-list ul li.title {
margin-top:.75em;
font-size:18px;
font-weight:700;
letter-spacing:-1px;
}

li.list-road {
margin-bottom:.2em;
}

li.list-road a {
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travel-sprite-0.gif) no-repeat 0 -931px transparent;
display:block;
padding-left:41px;
padding-top:2px;
}

li.list-road.a-road a {
background-position:0 -971px;
}

.large-map #map {
position:absolute;
width:974px;
background:#444;
border:1px solid #ccc;
}

.large-map #travel-map-wrap {
height:417px;
}

.large-map #largeMap-pusher {
height:485px;
}

.large-map .travel-map-foot {
margin-top:394px;
}

.large-map #incident-numbers {
position:absolute;
right:10px;
}

.large-map #map-load {
position:absolute;
width:975px;
margin-top:1px;
background-position:center center;
}

.large-map #map-unlock {
margin-left:290px;
margin-top:160px;
}

.large-map .also-show-mapkey a {
margin-left:845px;
}

.large-map #map-key {
margin-top:-1px;
margin-left:799px;
}

.large-map #travel-options-splitter {
border-top:0;
}

.large-map .notification p {
padding-top:19px;
}

.large-map #loading-wrap {
width:976px;
background-position:917px 23px;
}

#displayOptions {
display:none;
font-family:arial;
font-size:12px;
}

#displayOptions div.optWrap {
clear:left;
margin-bottom:6px;
}

#displayOptions div.tickBox {
background-color:#646464;
background-image:none;
display:block;
float:left;
height:30px;
width:30px;
margin-right:6px;
margin-left:8px;
}

#displayOptions div.tickBox.sel {
background-image:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travel-sprite-0.gif);
background-position:-474px -54px;
}

#displayOptions div.optWrap p {
display:block;
padding-top:8px;
}

#displayOptions div.confirm {
background:#626262;
color:#fff;
display:block;
float:left;
font-size:16px;
font-weight:700;
margin-bottom:6px;
margin-top:6px;
letter-spacing:-1px;
text-align:center;
width:80px;
padding:5px;
}

#displayOptions div.confirm#optSave {
margin-left:140px;
margin-right:25px;
}

#displayOptions p.intro {
margin-bottom:1em;
margin-top:1em;
}

#displayOptions div.confirm,#displayOptions div.tickBox {
cursor:hand;
}

div#auto-updates-notify {
position:relative;
display:none;
border-left:1px solid #ccc;
padding-top:5px;
padding-bottom:5px;
margin-bottom:-10px;
border-right:1px solid #ddd;
}

div#auto-updates-notify p {
display:block;
font-size:12px;
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travel-sprite-0.gif) no-repeat scroll -654px -456px transparent;
padding-bottom:5px;
padding-left:34px;
color:#666;
margin-left:36px;
padding-top:5px;
}

.channel h2,.channel h3,.channel h4,.static h2,.static h3,.static h4 {
color:#626262;
letter-spacing:-1px;
}

.channel h2,.static h2 {
font-size:32px;
margin-bottom:6px;
margin-top:6px;
}

.channel h3,.static h3 {
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travelwrap/index-misc.gif) no-repeat scroll 0 -251px transparent;
font-size:24px;
margin-bottom:6px;
margin-top:.5em;
padding-left:30px;
}

.channel h4,.static h4 {
font-size:20px;
margin-bottom:6px;
margin-top:1em;
}

.channel ul {
margin:10px 0 20px;
}

#travel-mast .channel ul li a {
font-size:1.1em;
font-weight:700;
color:#036;
}

.static ul.instructions li {
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/right/list-arrow.gif) no-repeat scroll 2px 5px transparent;
padding-left:12px;
}

.static ul.faq li {
list-style:disc inside none;
}

.static ul.faq-nav li {
line-height:2em;
}

#travel-mast .static ul.faq-nav li a {
color:#036;
font-size:20px;
font-weight:700;
letter-spacing:-1px;
}

.static input[type="text"],.static textarea {
border:1px solid #CCC;
font-family:arial;
width:610px;
margin-bottom:0;
}

.static input#feedbackemail,.static textarea#feedbackcomments {
margin-bottom:0;
}

.static textarea,.static textarea#feedbackincident,textarea#feedbackincident {
width:610px;
}

.static input#submit {
margin-top:1.2em;
margin-bottom:1.2em;
}

.static dt {
margin-top:1.2em;
line-height:1.333em;
}

ul.errors li {
color:#900;
font-size:.8em;
margin-bottom:-.8em;
}

#location-head.static-head {
background:0;
}

#location-head h2.static-title {
margin:0 0 0 10px;
}

.static-content {
background-color:#fff;
color:#333;
margin-top:-8px;
padding:2px 10px 10px;
}

.static-content h3 {
background-image:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travelwrap/head_down_arrow.gif);
background-position:0 13px;
background-repeat:no-repeat;
height:35px;
color:#606064;
font-size:32px;
padding-left:35px;
padding-top:0;
}

.static-content p {
margin:10px 0;
}

.static-content ul li {
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/right/list-arrow.gif) no-repeat scroll 0 4px transparent;
font-size:1em;
margin-bottom:.4em;
padding-left:9px;
padding-right:9px;
}

.static-content .feedback-small {
font-size:.8em;
}

.static-content .feedback-indent {
margin-left:18px;
}

.static-content textarea {
width:94%;
}

.static-content #feedback-name,.static-content #feedback-email,.static-content #feedback-subject {
width:55%;
}

.content-right {
float:right;
margin-top:1.6em;
margin-right:0;
width:336px;
padding-right:0;
display:inline;
}

.block-separator {
border-bottom:2px solid #e7e7e7;
margin-top:10px;
margin-bottom:8px;
}

.report {
color:#626262;
font-size:20px;
letter-spacing:-1px;
margin-left:9px;
}

.report p span {
color:#e18539;
margin-left:.5em;
}

span.skype_pnh_container {
display:none!important;
}

span.skype_pnh_print_container {
display:inline!important;
}

.wrong-email p {
font-size:12px;
margin-bottom:1.5em;
margin-top:.9em;
color:#424242;
margin-left:9px;
}

.region .wrong-email p {
margin-bottom:1.6em;
margin-top:1.4em;
}

.another-area {
margin-top:2px solid #fff;
background:#fb9a00;
clear:both;
padding-bottom:9px;
}

.another-area h2 {
color:#fff;
font-size:24px;
font-weight:700;
letter-spacing:-1px;
padding-left:9px;
padding-top:6px;
border-bottom:0;
padding-bottom:0;
}

.area-search {
margin-left:9px;
margin-right:9px;
}

.another-area form input[type="text"] {
border:0;
float:left;
font-size:13px;
height:21px;
margin-left:0;
padding-left:5px;
padding-right:5px;
width:240px;
color:#666;
line-height:1.5em;
}

.another-area form input[type="submit"] {
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/right/gel3-search.gif) no-repeat 0 0 transparent;
float:none;
font-size:.9em;
height:24px;
left:9px;
position:relative;
top:8px;
width:61px;
color:#666;
margin:0!important;
padding:0!important;
}

.another-area form input[type="submit"]:hover {
background-position:0 -24px;
color:#e18539;
}

.whiteblock h2 {
color:#626262;
font-size:20px;
margin-bottom:8px;
margin-left:9px;
padding-top:4px;
letter-spacing:-1px;
margin-right:9px;
}

.whiteblock .travel-tube-widget h2 {
padding-top:9px;
}

.whiteblock h3 {
font-size:16px;
background-color:#f4f4f4;
color:#333;
margin-top:.75em;
margin-bottom:.7em;
padding-bottom:.5em;
padding-left:9px;
padding-top:.5em;
font-weight:700;
}

.whiteblock h4 {
font-size:14px;
color:#333;
font-weight:700;
margin-top:1em;
margin-bottom:1em;
margin-left:9px;
}

.whiteblock p {
padding-left:9px;
color:#333;
}

.whiteblock ol li {
padding-left:22px;
padding-right:9px;
margin-bottom:.4em;
line-height:1.1em;
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travel-sprite-0.gif) no-repeat scroll -645px -387px transparent;
}

.whiteblock ol li.transport-header {
background:0;
font-weight:700;
font-size:1.2em;
margin-top:1em;
padding-left:9px;
color:#626262;
}

.whiteblock ol li span {
color:#626262;
font-size:.9em;
}

.whiteblock ol#most-popular-cameras li {
color:#888;
}

.radio-station {
margin-left:9px;
color:#424242;
line-height:1.333em;
}

#travel-mast .radio-station a {
color:#036;
display:block;
}

p.listen-live {
margin-bottom:.5em;
line-height:1.333em;
}

p.listen-live a {
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travel-sprite-0.gif) no-repeat scroll -656px -433px transparent;
padding-left:34px;
}

#travel-mobile-block,#travel-planner-block {
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/right/mobile.jpg) no-repeat right top #fff;
padding-bottom:.5em;
height:146px;
}

#travel-planner-block {
background-image:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/right/journey.jpg);
}

#travel-mobile-block p,#travel-planner-block p {
line-height:1.33333em;
padding-top:9px;
width:155px;
}

.rhs-related-link {
margin-left:9px;
padding-bottom:5px;
padding-top:5px;
font-weight:700;
}

.rhs-related-link #aroundbbc {
margin-right:3em;
}

.next3daysweather,.threehourlyweather {
background-color:#fff;
margin-left:10px;
margin-right:10px;
margin-top:10px;
}

.stripes .c1,.stripes .c2,.stripes .c3 {
float:left;
display:block;
width:104px;
text-align:center;
}

.stripes .c2 {
margin-left:1px;
margin-right:1px;
}

.stripes h3 {
background:#900;
color:#fff;
font-size:.9em;
font-weight:700;
text-align:center;
text-transform:none;
margin:0 0 1em;
padding:.25em 0;
}

.stripes ul li strong {
display:block;
height:2em;
margin-bottom:1em;
}

.rhs-help a {
color:#fff;
font-size:1.5em;
font-weight:700;
margin-left:279px;
margin-top:7px;
position:absolute;
width:16px;
height:16px;
background:transparent url(http://static.bbci.co.uk/travelmicro/1.5.10/images/right/help_orange.gif) no-repeat left top;
}

.rhs-help a:hover {
background-image:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/right/help_orange_hov.gif);
}

.rhs-help a span {
left:5000px;
position:absolute;
top:5000px;
display:none;
}

#travel-mast .whiteblock li.news-first {
background:0;
margin-left:0;
line-height:1.4em;
}

#travel-mast .whiteblock li.news-first a {
padding-left:0;
}

.whiteblock li.news-first a.news-image {
float:left;
margin-right:9px;
margin-top:4px;
}

.whiteblock li.news-first p {
display:block;
padding-left:0;
margin-left:75px;
}

.travel-index-footer .block-chunk {
float:left;
width:304px;
}

.travel-index-footer .block-chunk.second {
margin-left:16px;
}

.travel-index-footer .whiteblock h2 {
margin-left:0;
}

.travel-index-footer .whiteblock p {
padding-left:2px;
}

.rhs-show-hide {
background-color:transparent;
background-image:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travel-sprite-0.gif);
background-position:right -293px;
background-repeat:no-repeat;
letter-spacing:-1px;
font-size:16px;
margin-top:2px;
position:absolute;
right:0;
font-weight:700;
text-align:right;
width:70px;
color:#d5d5d5;
display:none;
padding-right:14px;
}

.rhs-show-hide div {
margin:5px 7px 6px 9px;
}

.whiteblock:hover .rhs-show-hide {
visibility:visible;
color:#ccc;
}

.whiteblock:hover .rhs-show-hide.dark {
color:#999;
}

.whiteblock:hover .rhs-show-hide:hover {
color:#666;
cursor:hand;
text-decoration:underline;
background-position:right -317px;
}

.hidden .rhs-show-hide {
visibility:visible;
background-position:right -341px;
}

.whiteblock.hidden:hover .rhs-show-hide:hover {
background-position:right -365px;
}

.rhs-show-hide.dark {
background-position:right -180px;
margin-top:8px;
color:#999;
}

.whiteblock:hover .rhs-show-hide.dark:hover {
background-position:right -204px;
}

.hidden .rhs-show-hide.dark {
background-color:#eee;
color:#999;
background-position:right -228px;
}

.whiteblock.hidden:hover .rhs-show-hide.dark:hover {
background-position:right -252px;
}

.choose-area-search {
margin-left:9px;
margin-right:9px;
margin-top:-6px;
}

.choose-another-area form input[type="text"] {
color:#aaa;
float:left;
font-size:16px;
height:26px;
letter-spacing:-1px;
line-height:1.5em;
margin-left:0;
padding-left:5px;
padding-right:5px;
width:276px;
border:1px solid #ddd;
border-right:0;
}

.choose-another-area form input[type="text"].loading {
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travelwrap/loading.gif) no-repeat scroll 234px 8px #fff;
}

.choose-another-area form input[type="submit"] {
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travel-sprite-0.gif) no-repeat scroll -412px 0 #fff;
border:1px solid #ddd!important;
cursor:pointer;
display:inline;
float:left;
height:28px;
line-height:28px;
margin-top:9px;
overflow:hidden;
position:relative;
text-indent:-2000em;
width:29px;
padding:0;
}

.choose-another-area form input[type="text"]:focus {
outline:0;
color:#626262;
}

.choose-another-area form input[type="submit"]:focus {
outline:0;
border:1px solid #ddd!important;
}

.postcoder p {
line-height:1.33em;
margin-bottom:9px;
margin-top:9px;
}

.postcoder p span {
color:#090;
}

div.search-load {
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travelwrap/loading.gif) no-repeat scroll 9px 4px #fff;
}

div.search-load p {
padding-left:60px;
}

.indexSearch {
background:#fb9a00;
padding-bottom:10px;
}

.indexSearch h2 {
padding-top:10px;
}

.indexSearch ol li {
background-image:none;
padding-left:9px;
}

div.nearby-cameras-wrap {
clear:both;
margin-bottom:0;
background-color:transparent;
}

div.cameras {
font-size:13px;
overflow:hidden;
}

div#travel-itemlist div.cameras {
margin-left:21px;
}

a.camera-search,span.camera-search {
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/cameras/cam-search.gif) no-repeat scroll 0 0 transparent;
display:block;
height:30px;
padding-left:30px;
padding-top:3px;
}

a.camera-search.loading,span.camera-search.loading,span.camera-search.loading.refresh,span.camera-search.refresh.loading {
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/cameras/loading-small.gif) no-repeat scroll 0 0 transparent;
}

span.camera-search.refresh {
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/cameras/cam_refresh.gif) no-repeat scroll 3px 2px transparent;
height:21px;
}

div.camera-thumb {
background:url(http://static.bbci.co.uk/travelmicro/1.5.10/images/cameras/loading.gif) no-repeat scroll 45px 34px transparent;
margin-bottom:5px;
margin-right:10px;
margin-top:5px;
min-height:120px;
min-width:122px;
width:130px;
transition:opacity .5s;
-moz-transition:opacity .5s;
-webkit-transition:opacity .5s;
-o-transition:opacity .5s;
}

div.camera-thumb.selected {
background-color:#fff;
background-position:center 142px;
height:auto;
width:auto;
position:absolute;
border:1px solid #888;
border-top:0;
z-index:500;
}

div.camera-thumb:hover {
cursor:pointer;
opacity:.7;
}

div.camera-thumb.selected:hover .camera-title {
color:#444;
}

div.camera-thumb.selected:hover {
opacity:1;
background-color:#fff;
}

div.thumb-wrap {
float:left;
width:130px;
min-height:150px;
overflow:hidden;
}

div.camera-thumb .camera-image,div.camera-thumb .image-protector {
min-height:100px;
min-width:122px;
height:100px;
width:122px;
overflow:hidden;
margin-left:0;
}

div.camera-thumb .image-protector {
position:absolute;
}

div.camera-thumb img {
height:122px;
margin-left:-22px;
margin-top:-22px;
}

div.camera-thumb p.camera-title {
font-size:15px!important;
font-weight:700;
letter-spacing:-1px;
margin-top:5px;
padding-right:9px;
}

div.camera-thumb.selected p.camera-description {
display:block;
width:340px;
}

div.camera-thumb.selected p {
margin-bottom:10px;
margin-left:10px;
width:340px;
display:block!important;
visibility:visible!important;
}

div.camera-thumb.selected .camera-image {
height:auto;
width:auto;
margin-top:0;
}

div.camera-thumb.selected img,div.camera-thumb.selected .image-protector {
min-height:315px;
height:315px;
width:385px;
min-width:385px;
margin:0;
}

p.camera-fail {
display:block;
float:left;
clear:both;
}

#travel-mast .travel-nav.primary ul li.language a {
color:#fff;
margin:0;
}

ul.language-options {
display:inline;
float:right;
margin:-20px 0 5px;
padding:0;
}

ul.language-options li.language {
float:right;
display:inline-block;
font-weight:700;
height:20px;
line-height:20px;
padding-left:12px;
padding-right:12px;
margin-top:2px;
margin-bottom:2px;
font-size:12px;
}

ul.language-options ul li.language.selected {
background:#f7f7f7;
color:#900;
margin:0;
padding:0 10px 3px;
}

ul.language-options li.travel-nav-right.language a {
height:19px;
}

.skip-to-top {
padding-bottom:10px;
}

#torchrelay {
width:400px;
height:70px;
padding:10px 0 0;
}

#torchrelay #tr-title {
background:#f4f4f4;
color:#666;
font-weight:700;
font-size:1.2em;
padding:7px;
}

#torchrelay #tr-description {
border-bottom:solid 1px #f4f4f4;
border-left:solid 1px #f4f4f4;
border-right:solid 1px #f4f4f4;
font-weight:700;
font-size:1em;
padding:5px;
}

#torchrelay #tr-description form option {
width:220px;
}

#travel-mast a,#travel-mast a:link,#travel-mast .travel-nav.secondary ul li a:hover,a.item-show:hover span,#travel-mast .jamcam a:visited,#travel-mast .tube-links a.sel,#travel-mast .travel-index-list ul li.title a,div.camera-thumb:hover .camera-title {
color:#900;
}

#travel-mast a:hover,#travel-mast a:active,.filter-tabs .severity a span:hover,.filter-tabs .time a span:hover {
color:#900;
text-decoration:underline;
}

#travel-mast a:active,#notify-update:hover p,#travel-mast .tubelines-wrap ul li a:hover {
text-decoration:underline;
}

#content-top,.rhs-weather {
overflow:hidden;
}

.travel-clear,.next3daysweather .clear,.threehourlyweather .clear,.clear,.weather-bottom {
clear:both;
}

#blq-local-nav,.travel-nav {
clear:both;
zoom:1;
}

.travel-nav.primary ul li a.home,.travel-nav.primary ul li span.home,.travel-nav ul li.travel-nav-right.about a {
border-left:none;
}

#travel-mast .travel-nav.primary ul li a,.tab:hover a span,.tab a.sel span.desc,#travel-mast a.line,.line-desc,.indexSearch h2,.indexSearch p {
color:#fff;
}

#travel-itemlist-head,.item-details h1,.item-details p span.hidden-Par,#numbersHelp,.tubelines-wrap ul.planned,div#travel-map-json,.large-map #top-separator,.static dt#submit-label,#static-page #beta-sticker,#area-search-button,.rhs-show,.hidden .rhs-show-hide .rhs-hide,.whiteblock.hidden div.block-content,#blockid-98,#blockseperator-98,div.camera-thumb p.camera-description {
display:none;
}

#blq-content .tab a:hover,#blq-content .tab a:active,#travel-mast #map a,#travel-mast #map a:hover,#travel-mast a.item-show:hover {
text-decoration:none;
}

.tab#road-tab2:hover a,.tab#road-tab2 a.sel,.tab#road-tab2 a:active {
background-position:0 -173px;
}

.tab#road-tab3:hover a,.tab#road-tab3 a.sel,.tab#road-tab3 a:active {
background-position:-114px -173px;
}

.tab#road-tab4:hover a,.tab#road-tab4 a.sel,.tab#road-tab4 a:active {
background-position:-236px -173px;
}

.tab#pub-tab2:hover a,.tab#pub-tab2 a.sel,.tab#pub-tab2 a:active {
background-position:-368px -173px;
}

.tab#pub-tab3:hover a,.tab#pub-tab3 a.sel,.tab#pub-tab3 a:active {
background-position:-490px -173px;
}

.tab:hover .counter,.also-show-mapkey,.rhs-hide,.hidden .rhs-show-hide .rhs-show {
display:block;
}

#counter2,#counter3 {
margin-left:3px;
}

#counter4,.tubelines-wrap ul {
margin-left:9px;
}

.also-show-mapkey a:hover,.also-show-mapkey a.sel,.also-show-mapkey a.sel:hover {
background-position:-505px -314px;
}

.also-show-mapkey a span,div.itemgroup div.item-head a span,#incident-numbers a span {
left:-5000px;
position:absolute;
top:-5000px;
}

#notify-none .notification-wrap,#notify-jamcams-disabled .notification-wrap {
background-position:13px 2px;
}

#incidents-showing,#incidents-total,.static-content strong,.static-content label,#travel-mast .report a {
font-weight:700;
}

.item-details p,.block-chunk,.whiteblock {
font-size:13px;
}

.item-summary,.item-details,.item-lastupdate,.jamcam .item-body,#camLocation {
margin-left:7px;
}

.jamcam a.item-show,a.item-show {
visibility:hidden;
}

div.road,div.road-normal,.car {
background:#ccc url(http://static.bbci.co.uk/travelmicro/1.5.10/images/travel-sprite-0.gif) no-repeat scroll -279px -608px;
}

.filter-tabs,.report p {
color:#626262;
}

#travel-wrap h1,#travel-wrap h2,#travel-wrap h3,#travel-wrap h4,#travel-wrap p,#travel-wrap li,#travel-wrap dt,#travel-wrap dd,.channel p,.channel ul,.channel li,.static p,.static ul,.static li,.stripes ul li {
line-height:1.333em;
}

#disclaimer p,.static p,.static ul {
margin-bottom:1em;
}

#travel-mast .travel-index-list ul li a,#travel-mast .static ul.related li a,#travel-mast .whiteblock p a,#travel-mast .whiteblock ol li a {
color:#036;
}

.large-map .notification,.large-map .travel-filter {
width:976px;
}

.another-area form,.another-area fieldset,.choose-another-area form,.choose-another-area fieldset {
zoom:1;
margin:0;
padding:0;
}

.another-area form input,.choose-another-area form input {
border:0;
margin:9px 0 0;
padding:0;
}

.whiteblock li.news-first a.news-title,#torchrelay #tr-description form {
display:inline;
}

ul.language-options li.travel-nav-right.language.en,ul.language-options li.travel-nav-right.language.cy,ul.language-options li.travel-nav-right.language.ga,ul.language-options li.travel-nav-right.language.gd {
margin:0 13px 0 0;
padding:0 10px 3px;
}

ul.language-options li.travel-nav-right.language.en a,ul.language-options li.travel-nav-right.language.cy a,ul.language-options li.travel-nav-right.language.ga a,ul.language-options li.travel-nav-right.language.gd a {
padding:0;
}

#torchrelay #tr-title a,#torchrelay #tr-description a {
text-decoration:none;
color:#666;
}
